# KDE Config File 
[KDE Desktop Entry]
Name=Debugger
Name[br]=Dizraener
Name[da]=Afluser
Name[es]=Depurador
Name[fi]=Debuggeri
Name[fr]=Débogueur
Name[is]=Aflúsun
Name[no]=Avluser
Name[pt]=Depurador
Name[pt_BR]=Depurador
Name[ro]=Depanator
Name[ru]=ïÔÌÁÄŞÉË
Name[sk]=Ladiaci program
Name[sl]=Razhro¹èevalnik
Name[sv]=Avlusare
Exec=kdbg -caption "%c" %i %m
Icon=kdbg
MiniIcon=kdbg
Type=Application
DocPath=kdbg/index.html
Comment=Debug programs
Comment[br]=Goulevioù dizraenañ
Comment[ca]=Programes per localització d'errors
Comment[cs]=Ladídí program
Comment[da]=Afluseprogrammer
Comment[de]=Programme debuggen
Comment[es]=Depurador de programas
Comment[fi]=Tutki ohjelmien toimintaa
Comment[fr]=Déboguer un programme
Comment[is]=kdbg:  Forrit til ağ aflúsa önnur forrit
Comment[no]=Avluse programmer
Comment[pl]=Program do debugowania
Comment[pt]=Depurador de programas
Comment[pt_BR]=Depurador de programas
Comment[ro]=Depanator de programe
Comment[ru]=ïÔÌÁÖÉ×ÁÅÔ ĞÒÏÇÒÁÍÍÙ
Comment[sk]=Ladiaci program
Comment[sl]=Odpravljanje napak v programih
Comment[sv]=Avlusar program
Terminal=0
