# Copyright (c) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the GNU General Public License Version 2.

name: Build on Linux

on:
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * 5'  # Every Friday at 3am

jobs:
  linux:
    name: Build (${{ matrix.cc }}, KDE ${{ matrix.kde_major }}, ${{ matrix.runs-on }})
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - cc: gcc-12
            cxx: g++-12
            clang_major_version: null
            clang_repo_suffix: null
            kde_major: 5
            runs-on: ubuntu-24.04
          - cc: gcc-14
            cxx: g++-14
            clang_major_version: null
            clang_repo_suffix: null
            kde_major: 5
            runs-on: ubuntu-24.04
          - cc: gcc-14
            cxx: g++-14
            clang_major_version: null
            clang_repo_suffix: null
            kde_major: 6
            runs-on: ubuntu-24.04
          - cc: clang-18
            cxx: clang++-18
            clang_major_version: 18
            clang_repo_suffix: -18
            kde_major: 5
            runs-on: ubuntu-24.04
    steps:
      - name: Add Clang/LLVM repositories
        if: "${{ contains(matrix.cxx, 'clang') }}"
        run: |-
          set -x
          source /etc/os-release
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}${{ matrix.clang_repo_suffix }} main"

      - name: Install build dependencies
        env:
          kde_major: ${{ matrix.kde_major }}
        run: |-
          set -x
          if [[ ${kde_major} = 5 ]]; then
            extra_packages=(
              libkf5config-dev
              libkf5i18n-dev
              libkf5iconthemes-dev
              libkf5windowsystem-dev
              libkf5xmlgui-dev
              qtbase5-dev
            )
          else
            sudo sed 's,noble,questing,g' -i /etc/apt/sources.list.d/ubuntu.sources  # Ubuntu 25.10
            extra_packages=(
              binutils
              libkf6config-dev
              libkf6i18n-dev
              libkf6iconthemes-dev
              libkf6windowsystem-dev
              libkf6xmlgui-dev
              qt6-base-dev
            )
          fi
          sudo apt-get update
          sudo apt-get remove --yes libegl-mesa0 mesa-libgallium  # addresses conflicts
          sudo apt-get install --yes --no-install-recommends \
            cmake \
            extra-cmake-modules \
            nasm \
            "${extra_packages[@]}"

      - name: Install build dependency Clang ${{ matrix.clang_major_version }}
        if: "${{ contains(matrix.cxx, 'clang') }}"
        run: |-
          sudo apt-get install --yes --no-install-recommends -V \
              clang-${{ matrix.clang_major_version }}

      - name: Checkout Git branch
        uses: actions/checkout@v4

      - name: 'Configure with CMake'
        run: |-
          cmake_args=(
            -DCMAKE_C_COMPILER="${{ matrix.cc }}"
            -DCMAKE_CXX_COMPILER="${{ matrix.cxx }}"
            -DBUILD_FOR_KDE_VERSION="${{ matrix.kde_major }}"
            -S ./
            -B build/
          )
          set -x
          cmake "${cmake_args[@]}"

      - name: 'Build KDbg'
        run: |-
          set -x
          make -C build -j$(nproc) VERBOSE=1

      - name: 'Install KDbg'
        run: |-
          set -x -o pipefail
          make -C build install DESTDIR="${PWD}"/ROOT/
          find ROOT/ | sort | xargs ls -ld

      - name: 'Build test programs'
        run: |-
          set -x
          make -C kdbg/testprogs/ -j$(nproc) all clean
